|-------------------------|
|		   CONFIGURATION      |
|-------------------------|

MODE=prod
DOMAIN=.qucore.io

# Service ports
AUDIT_SERVICE=5007   # Audit service
AUTH_SERVICE=5002    # Auth service
INVITE_SERVICE=5003  # Invite service
METRICS_SERVICE=5006 # Metrics service
ORG_SERVICE=5004     # Org service
USERS_SERVICE=5005   # Users service

# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=authdb

# PostgreSQL connection string
DATABASE_URL=postgres://myuser:mypassword@postgres:5432/authdb

# Redis
REDIS_HOST=redis



|-------------------------|
|		      SECRETS         |
|-------------------------|

COOKIES_SECRET=mycookies
REFRESH_SECRET=myrefresh
ACCESS_SECRET=myaccess



|-------------------------|
|		   TOKENS  AGES       |
|-------------------------|

REFRESH_AGE=2592000000 # 30 days in ms
ACCESS_AGE=900000 # 15 minutes in ms