# Service ports
AUDIT_SERVICE=5025   # Audit service
AUTH_SERVICE=5020    # Auth service
INVITE_SERVICE=5021  # Invite service
METRICS_SERVICE=5024 # Metrics service
ORG_SERVICE=5022     # Org service
USERS_SERVICE=5023   # Users service

# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=authdb
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379